<svg
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        width="280mm"
        height="160mm"
        viewBox="0 0 140.52496 87.630558"
        version="1.1"
        id="svg4883"
        inkscape:version="0.92.2 (5c3e80d, 2017-08-06)"
        sodipodi:docname="TimeLineStatic.svg">
    <defs
            id="defs4877" />
    <sodipodi:namedview
            id="base"
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1.0"
            inkscape:pageopacity="0.0"
            inkscape:pageshadow="2"
            inkscape:zoom="2.8"
            inkscape:cx="103.23871"
            inkscape:cy="188.4575"
            inkscape:document-units="mm"
            inkscape:current-layer="layer1"
            showgrid="false"
            showguides="true"
            inkscape:guide-bbox="true"
            inkscape:lockguides="true"
            inkscape:window-width="1920"
            inkscape:window-height="986"
            inkscape:window-x="-11"
            inkscape:window-y="-11"
            inkscape:window-maximized="1">
        <sodipodi:guide
                position="30.201456,292.92741"
                orientation="1,0"
                id="guide5434"
                inkscape:locked="true" />
        <sodipodi:guide
                position="50.113035,289.72018"
                orientation="1,0"
                id="guide5436"
                inkscape:locked="true" />
        <sodipodi:guide
                position="70.158249,278.22759"
                orientation="1,0"
                id="guide5438"
                inkscape:locked="true" />
        <sodipodi:guide
                position="89.802559,278.49486"
                orientation="1,0"
                id="guide5440"
                inkscape:locked="true" />
        <sodipodi:guide
                position="109.98141,281.16755"
                orientation="1,0"
                id="guide5442"
                inkscape:locked="true" />
        <sodipodi:guide
                position="129.89299,273.684"
                orientation="1,0"
                id="guide5444"
                inkscape:locked="true" />
        <sodipodi:guide
                position="150.07184,259.65235"
                orientation="1,0"
                id="guide5446"
                inkscape:locked="true" />
        <sodipodi:guide
                position="169.98342,273.41673"
                orientation="1,0"
                id="guide5448"
                inkscape:locked="true" />
        <sodipodi:guide
                position="25.524239,256.04421"
                orientation="0,1"
                id="guide5454"
                inkscape:locked="true" />
        <sodipodi:guide
                position="40.821428,253.43304"
                orientation="0,1"
                id="guide5499"
                inkscape:locked="true" />
        <sodipodi:guide
                position="99.691531,248.02613"
                orientation="0,1"
                id="guide5552"
                inkscape:locked="true" />
        <sodipodi:guide
                position="77.296129,229.52605"
                orientation="0,1"
                id="guide5678"
                inkscape:locked="true" />
        <sodipodi:guide
                position="89.802557,225.74629"
                orientation="0,1"
                id="guide5680"
                inkscape:locked="true" />
        <sodipodi:guide
                position="81.170385,236.32962"
                orientation="1,0"
                id="guide5716"
                inkscape:locked="true" />
    </sodipodi:namedview>
    <metadata
            id="metadata4880">
        <rdf:RDF>
            <cc:Work
                    rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                        rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title />
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <g
            inkscape:label="Vrstva 1"
            inkscape:groupmode="layer"
            id="layer1"
            transform="translate(-29.562051,-36.745032)">
        <path
                style="opacity:1;fill:none;stroke:#000000;stroke-width:0.20720655;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                d="M 30.201456,47.379028 H 169.98341 v 3.239807 H 30.201456 Z"
                id="rect4889" />
        <g
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Symbol;-inkscape-font-specification:Symbol;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                id="text5484" />
        <path
                style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 50.113035,47.346724 c 0,3.118305 0,3.118305 0,3.118305 v 0 0"
                id="path5525"
                inkscape:connector-curvature="0" />
        <path
                style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 70.158249,47.346724 -2e-6,3.118305 v 0 0 0"
                id="path5527"
                inkscape:connector-curvature="0"
                sodipodi:nodetypes="ccccc" />
        <path
                style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 89.802559,47.393972 v 3.260045"
                id="path5529"
                inkscape:connector-curvature="0"
                sodipodi:nodetypes="cc" />
        <path
                style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 109.98141,47.346724 c 0,3.212798 0,3.212798 0,3.212798"
                id="path5531"
                inkscape:connector-curvature="0" />
        <path
                style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 129.89299,47.393971 v 3.141928"
                id="path5533"
                inkscape:connector-curvature="0"
                sodipodi:nodetypes="cc" />
        <path
                style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 150.07184,47.393973 v 3.283666"
                id="path5535"
                inkscape:connector-curvature="0"
                sodipodi:nodetypes="cc" />
        <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ mon.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                x="30.215908"
                y="40.961437"
                id="text907"><tspan
                    sodipodi:role="line"
                    id="tspan905"
                    x="30.215908"
                    y="40.961437"
                    style="stroke-width:0.26458332;fill:{{ mon.color }};">mon</tspan></text>
        <text
                        id="text1023"
                        y="43.539288"
                        x="30.031078"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ mon.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
                        xml:space="preserve"><tspan
                            style="font-size:3.17499995px;fill:{{ mon.color }};stroke-width:0.26458332"
                            y="43.539288"
                            x="30.031078"
                            id="tspan1021"
                            sodipodi:role="line">{{ mon.dateFormatDm }}</tspan></text>

        {%  for object in mon.tasks %}
            <path
                    style="fill:none;stroke:{{ mon.color }};stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 45.759683,48.498658 v{{8 * loop.index}} h -5"
                    id="path5480-7"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="ccc" />
            <text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ mon.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                    x="45.215908"
                    y="55.961437"
                    id="text907"><tspan
                        sodipodi:role="line"
                        id="tspan905"
                        x="{{ 45.215908 - (object|length*1.5) }}"
                        y="{{55.961437 + loop.index0*8 }}"
                        style="stroke-width:0.26458332;fill:{{ mon.color }};"><a href= '{{ path('project_task_show', {'idp' : object.project.id, 'id': object.id}) }}'>{{object}}</a></tspan></text>
        {% endfor %}

    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ tue.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            x="49.972763"
            y="40.86108"
            id="text975"><tspan
                sodipodi:role="line"
                id="tspan973"
                x="49.972763"
                y="40.86108"
                style="stroke-width:0.26458332">tue</tspan></text>
        <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ tue.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
                x="50.139431"
                y="43.539288"
                id="text999"><tspan
                    sodipodi:role="line"
                    id="tspan997"
                    x="50.139431"
                    y="43.539288"
                    style="font-size:3.17499995px;fill:{{ tue.color }};stroke-width:0.26458332">{{ tue.dateFormatDm }}</tspan></text>
        {%  for object in tue.tasks %}
            <path
                    style="fill:none;stroke:{{ tue.color }};stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 65.759683,48.498658 v{{8 * loop.index}} h -5"
                    id="path5480-7"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="ccc" />
            <text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ tue.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                    x="65.215908"
                    y="55.961437"
                    id="text907"><tspan
                        sodipodi:role="line"
                        id="tspan905"
                        x="{{ 65.215908 - (object|length*1.5) }}"
                        y="{{55.961437 + loop.index0*8 }}"
                        style="stroke-width:0.26458332;fill:{{ tue.color }};"><a href= '{{ path('project_task_show', {'idp' : object.project.id, 'id': object.id}) }}'>{{object}}</a></tspan></text>
        {% endfor %}

    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ wed.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            x="70.137787"
            y="40.908329"
            id="text979"><tspan
                sodipodi:role="line"
                id="tspan977"
                x="70.137787"
                y="40.908329"
                style="stroke-width:0.26458332">wed</tspan></text>
        <text
                id="text1003"
                y="43.539288"
                x="70.24778"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ wed.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
                xml:space="preserve"><tspan
                    style="font-size:3.17499995px;fill:{{ wed.color }};stroke-width:0.26458332"
                    y="43.539288"
                    x="70.24778"
                    id="tspan1001"
                    sodipodi:role="line">{{ wed.dateFormatDm }}</tspan></text>
        {%  for object in wed.tasks %}
            <path
                    style="fill:none;stroke:{{ wed.color }};stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 85.759683,48.498658 v{{8 * loop.index}} h -5"
                    id="path5480-7"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="ccc" />
            <text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ wed.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                    x="85.215908"
                    y="55.961437"
                    id="text907"><tspan
                        sodipodi:role="line"
                        id="tspan905"
                        x="{{ 85.215908 - (object|length*1.5) }}"
                        y="{{55.961437 + loop.index0*8 }}"
                        style="stroke-width:0.26458332;fill:{{ wed.color }};"><a href= '{{ path('project_task_show', {'idp' : object.project.id, 'id': object.id}) }}'>{{object}}</a></tspan></text>
        {% endfor %}
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ thu.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            x="89.835999"
            y="40.956673"
            id="text983"><tspan
                sodipodi:role="line"
                id="tspan981"
                x="89.835999"
                y="40.956673"
                style="stroke-width:0.26458332">thu</tspan></text>
        <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ thu.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
                x="89.826965"
                y="43.539288"
                id="text1007"><tspan
                    sodipodi:role="line"
                    id="tspan1005"
                    x="89.826965"
                    y="43.539288"
                    style="font-size:3.17499995px;fill:{{ thu.color }};stroke-width:0.26458332">{{ thu.dateFormatDm }}</tspan></text>
        {%  for object in thu.tasks %}
            <path
                    style="fill:none;stroke:{{ thu.color }};stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 105.759683,48.498658 v{{8 * loop.index}} h -5"
                    id="path5480-7"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="ccc" />
            <text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ thu.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                    x="105.215908"
                    y="55.961437"
                    id="text907"><tspan
                        sodipodi:role="line"
                        id="tspan905"
                        x="{{ 105.215908 - (object|length*1.5) }}"
                        y="{{55.961437 + loop.index0*8 }}"
                        style="stroke-width:0.26458332;fill:{{ thu.color }};"><a href= '{{ path('project_task_show', {'idp' : object.project.id, 'id': object.id}) }}'>{{object}}</a></tspan></text>
        {% endfor %}
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ fri.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            x="110.00963"
            y="40.9272"
            id="text987"><tspan
                sodipodi:role="line"
                id="tspan985"
                x="110.00963"
                y="40.9272"
                style="stroke-width:0.26458332">fri</tspan></text>
    <text
            id="text1011"
            y="43.539288"
            x="109.9353"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ fri.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            xml:space="preserve"><tspan
                style="font-size:3.17499995px;fill:{{ fri.color }};stroke-width:0.26458332"
                y="43.539288"
                x="109.9353"
                id="tspan1009"
                sodipodi:role="line">{{ fri.dateFormatDm }}</tspan></text>
        {%  for object in fri.tasks %}
            <path
                    style="fill:none;stroke:{{ fri.color }};stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 125.759683,48.498658 v{{8 * loop.index}} h -5"
                    id="path5480-7"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="ccc" />
            <text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ fri.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                    x="125.215908"
                    y="55.961437"
                    id="text907"><tspan
                        sodipodi:role="line"
                        id="tspan905"
                        x="{{ 125.215908 - (object|length*1.5) }}"
                        y="{{55.961437 + loop.index0*8 }}"
                        style="stroke-width:0.26458332;fill:{{ fri.color }};"><a href= '{{ path('project_task_show', {'idp' : object.project.id, 'id': object.id}) }}'>{{object}}</a></tspan></text>
        {% endfor %}
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ sat.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            x="129.89046"
            y="40.981995"
            id="text991"><tspan
                sodipodi:role="line"
                id="tspan989"
                x="129.89046"
                y="40.981995"
                style="stroke-width:0.26458332">sat</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ sat.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            x="130.04361"
            y="43.539288"
            id="text1015"><tspan
                sodipodi:role="line"
                id="tspan1013"
                x="130.04361"
                y="43.539288"
                style="font-size:3.17499995px;fill:{{ sat.color }};stroke-width:0.26458332">{{ sat.dateFormatDm }}</tspan></text>
        {%  for object in sat.tasks %}
            <path
                    style="fill:none;stroke:{{ sat.color }};stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 145.759683,48.498658 v{{8 * loop.index}} h -5"
                    id="path5480-7"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="ccc" />
            <text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ sat.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                    x="145.215908"
                    y="55.961437"
                    id="text907"><tspan
                        sodipodi:role="line"
                        id="tspan905"
                        x="{{ 145.215908 - (object|length*1.5) }}"
                        y="{{55.961437 + loop.index0*8 }}"
                        style="stroke-width:0.26458332;fill:{{ sat.color }};"><a href= '{{ path('project_task_show', {'idp' : object.project.id, 'id': object.id}) }}'>{{object}}</a></tspan></text>
        {% endfor %}
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ sun.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            x="150.0415"
            y="40.940346"
            id="text995"><tspan
                sodipodi:role="line"
                id="tspan993"
                x="150.0415"
                y="40.940346"
                style="stroke-width:0.26458332">sun</tspan></text>
    <text
            id="text1019"
            y="43.539288"
            x="150.15167"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ sun.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332"
            xml:space="preserve"><tspan
                style="font-size:3.17499995px;fill:{{ sun.color }};stroke-width:0.26458332"
                y="43.539288"
                x="150.15167"
                id="tspan1017"
                sodipodi:role="line">{{ sun.dateFormatDm }}</tspan></text>
        {%  for object in sun.tasks %}
            <path
                    style="fill:none;stroke:{{ sun.color }};stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 165.759683,48.498658 v{{8 * loop.index}} h -5"
                    id="path5480-7"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="ccc" />
            <text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3px;line-height:1.25;font-family:Evolution;-inkscape-font-specification:Evolution;letter-spacing:0px;word-spacing:0px;fill:{{ sun.color }};fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                    x="165.215908"
                    y="55.961437"
                    id="text907"><tspan
                        sodipodi:role="line"
                        id="tspan905"
                        x="{{ 165.215908 - (object|length*1.5) }}"
                        y="{{55.961437 + loop.index0*8 }}"
                        style="stroke-width:0.26458332;fill:{{ sun.color }};"><a href= '{{ path('project_task_show', {'idp' : object.project.id, 'id': object.id}) }}'>{{object}}</a></tspan></text>
        {% endfor %}
    </g>
</svg>
