{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <div class="main-div-crud">

        <h1>Task index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>CreateDate</th>
                    <th>CompletionDate</th>
                    <th>Deadline</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.createDate ? task.createDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.completionDate ? task.completionDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('task_show', {'id': task.id}) }}">Show</a>
                        <a class="btn btn-outline-secondary" href="{{ path('task_edit', {'id': task.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-success" href="{{ path('task_new') }}">Create new</a>
    </div>
{% endblock %}