{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <div class="main-div-crud-list">

        <h1>{{ project.name }} tasks</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Create date</th>
                    <th>Completion date</th>
                    <th>Deadline</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.createDate ? task.createDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.completionDate ? task.completionDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d') : '' }}</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{ path('project_task_show', {'idp': project.id , 'id': task.id}) }}">Show</a>
                        {% if project.team.admin(userRole) %}
                            <a class="btn btn-outline-primary" href="{{ path('project_task_edit', {'idp': project.id, 'id': task.id}) }}">Edit</a>
                            <a class="btn btn-outline-warning" href="{{ path('work_new', {'id': task.id}) }}">Assign</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if project.team.admin(userRole) %}
            <a class="btn btn-outline-success" href="{{ path('project_task_new', {'id':project.id}) }}">Create new</a>
        {% endif %}
    </div>
{% endblock %}