{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="main-div-crud">

        <h1>Task</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <th>Priority</th>
                    <td>{{ task.priority }}</td>
                </tr>
                <tr>
                    <th>Create date</th>
                    <td>{{ task.createDate ? task.createDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Completion date</th>
                    <td>{{ task.completionDate ? task.completionDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Deadline</th>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-outline-secondary" href="{{ path('project_task_index', {'id': project.id}) }}">Back to list</a>

        <a class="btn btn-outline-primary" href="{{ path('project_task_edit', {'idp': project.id, 'id': task.id}) }}">Edit</a>

        {{ include('task/_delete_form.html.twig') }}
    </div>
{% endblock %}