{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="main-div-crud">

        <div class="m-5">
            <h1>Task</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <th>Priority</th>
                    <td>{{ task.priority }}</td>
                </tr>
                <tr>
                    <th>Create date</th>
                    <td>{{ task.createDate ? task.createDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Completion date</th>
                    <td>{{ task.completionDate ? task.completionDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Deadline</th>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>
                        {% for tag in task.tags %}
                            {{ tag.name }}
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-outline-secondary" href="{{ path('project_task_index', {'id': project.id}) }}">Back to
                list</a>
            <a class="btn btn-outline-secondary" href="{{ path('project_show', {'id': project.id}) }}">Back to project</a>
            {% if task.completionDate is null and (team.admin(userRole) or team.leader(userRole)) %}
                <a class="btn btn-outline-success" href="{{ path('project_task_complete', {'idp': project.id, 'id': task.id}) }}">Complete task</a>
            {% endif %}
            {% if team.admin(userRole) %}
                <a class="btn btn-outline-primary"
                   href="{{ path('project_task_edit', {'idp': project.id, 'id': task.id}) }}">Edit</a>
                {{ include('task/_delete_form.html.twig') }}
            {% endif %}

        </div>

        <div class="m-5">
            <h3>Asignees</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Worker</th>
                    <th>Description</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for work in task.works %}
                    <tr class='clickable-row' data-href="{{ path('work_show', {'id': work.id}) }}">
                        <td>{{ work.user }}</td>
                        <td>{{ work.description }}</td>
                        <td>{{ work.startDate ? work.startDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ work.endDate ? work.endDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            {% if team.admin(userRole) %}
                                <a class="btn btn-outline-primary"
                                   href="{{ path('work_edit', {'id': work.id}) }}">Edit</a>
                                {{ include('work/_delete_form.html.twig') }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            {% if team.admin(userRole) %}
                <a class="btn btn-outline-warning" href="{{ path('work_new', {'id': task.id}) }}">Assign</a>
            {% endif %}
            <a class="btn btn-outline-warning" href="{{ path('work_assign_yourself', {'id': task.id}) }}">Assign yourself</a>

        </div>

        <div class="m-5">
            <h3>Comments</h3>

            {% for comment in task.comments %}
                <div class="mb-4">
                    <p class="pright"> {{ comment.user }} {{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }} </p>
                    <textarea readonly class="form-control auto-expand" rows="1">{{ comment.text }}</textarea>
                    {% if comment.author(user) %}
                        <div class="mt-1">
                            {{ include('comment/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="m-5">
            {{ include('task/_form_comment.html.twig') }}
        </div>


    </div>
{% endblock %}