{{ form_start(form, {'attr': {'autocomplete': 'off' }}) }}
    {{ form_errors(form) }}
    <div class="autocomplete d-inline-block">
            {{ form_errors(form.search) }}
            {{ form_widget(form.search, { 'id': 'myInput1' }, {'attr' : {'class': 'form-control mr-sm-2'}} ) }}
    </div>
    <div class="d-inline-block">
        <button class="btn btn-dark">{{ button_label|default('Search') }}</button>
    </div>
{{ form_end(form) }}