{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="main-div-crud-list">

        <h1>Timeline v1.0</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>CreateDate</th>
                <th>CompletionDate</th>
                <th>Deadline</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.createDate ? task.createDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.completionDate ? task.completionDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{ path('task_show', {'id': task.id}) }}">Show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
