{{ form_start(form) }}
    {{ form_errors(form) }}
    {#{{ form_widget(form) }}#}
    <div class="form-row">
        <div class="col">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            {{ form_label(form.startDate) }}
            {{ form_errors(form.startDate) }}
            {{ form_widget(form.startDate) }}
        </div>
        <div class="col">
            {{ form_label(form.endDate) }}
            {{ form_errors(form.endDate) }}
            {{ form_widget(form.endDate) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            {{ form_label(form.task) }}
            {{ form_errors(form.task) }}
            {{ form_widget(form.task) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            {{ form_label(form.user) }}
            {{ form_errors(form.user) }}
            {{ form_widget(form.user) }}
        </div>
    </div>
    <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}