{% extends 'base.html.twig' %}

{% block title %}Work index{% endblock %}

{% block body %}
    <div class="main-div-crud-list">

        <h1>Work index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for work in works %}
                <tr>
                    <td>{{ work.id }}</td>
                    <td>{{ work.description }}</td>
                    <td>{{ work.startDate ? work.startDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ work.endDate ? work.endDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{ path('work_show', {'id': work.id}) }}">Show</a>
                        <a class="btn btn-outline-primary" href="{{ path('work_edit', {'id': work.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-success" href="{{ path('work_new') }}">Create new</a>
    </div>
{% endblock %}